<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<div class="container">
    <p>Выберете файлы для транслитерации</p>
    <form method="POST"  enctype=multipart/form-data action="/upload">
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                    Browse&hellip; <input type="file" name="file[]" value="upload" multiple webkitdirectory directory>
                </span>
            </span>
            <input type="text" class="form-control" readonly>
        </div>
        <input type="submit" value="Transletirate files" class="btn btn-primary con">
    </form>
</div>
</body>
</html>